.section-5-reasons {
    position: relative;
    width: 100%;
    height: auto;
    img {
        z-index: 2; // No idea
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .section-5-reasons__header {
        position: absolute;
        left: 10%;
        top: 5%;
        flex-direction: column;
        width: 40%;
        height: 39%;
        h1 {
            position: absolute;
            top: 0%;
            width: 100%;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 11rem;
            line-height: 12.5rem;
            color: #FFFFFF;
        }
        h2 {
            position: absolute;
            bottom: 0%;
            width: 100%;
            height: 12.7vh;
            margin-left: 2%;
            font-family: 'Cormorant Garamond';
            font-weight: 300;
            font-size: 3rem;
            line-height: 3.375rem;
            color: #FFFFFF;
        }
    }

    .section-5-reasons__content {
        width: 34.16vw;
        height: 56.94vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5.64vh;        
        position: absolute;
        right: 7.5vw;
        bottom: 9vh;
        .section-5-reasons__content__top {
            width: 22.77vw;
            height: auto;
            h1 {
                width: 100%;
                font-family: 'Cormorant Garamond';
                font-weight: 300;
                font-size: 4.5rem;
                line-height: 4.5rem;
                color: #FFFFFF;
                span {
                    font-style: italic;
                }
            }
        }

        .section-5-reasons__content__bottom {
            width: 100%;
            height: 21.17vh;
            b {
                font-family: 'SVN-RM Neue';
                    font-weight: 300;
                    font-size: 1.125rem;
                    line-height: 1.875rem;
                    color: #FFFFFF;
            }
        }

        .section-5-reasons__content__footer {
            .section-5-reasons__content__footer__button {
                width: 10.5vw;
                height: 7.52vh;
                position: absolute;
                right: 0;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 2.8vh;   
                button {
                    width: 7.52vh;
                    height: 7.52vh;
                    border: 1px solid #ffffff;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0);
                    .fa-solid {
                        color: #ffffff;
                    }
                    &:hover {
                        background-color: black;
                        i {
                            color: #F1F1F1;
                        }
                    }
                }
            }
        }
    }

    .section-5-reasons__pic {
        position: absolute;
        width: 64.36vw;
        height: auto;
        left: -31.87vw;
        top: 49.18vh;
        z-index: 1;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}