.section-footer {
    width: 100%;
    height: 20.94vh;
    position: relative;
    background-color: rgba(21, 74, 134, 0.2);
    a {
        text-decoration: none;
        color: #161616;
        font-family: 'SVN-RM Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.875rem;
    }
    .section-footer__logo {
        position: absolute;
        left: 8.45%;
        bottom: 46.63%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-footer__slogan {
        position: absolute;
        width: 17.91%;
        height: auto;
        left: 8.45%;
        top: 14vh;
        h3 {
            font-family: 'SVN-RM Neue';
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 1.125rem;
            color: #161616;
        }
    }

    .section-footer__home {
        position: absolute;
        width: 4.3%;
        height: auto;
        left: 31.5%;
        top: 8.8vh;
    }

    .section-footer__brand {
        position: absolute;
        width: 5.34%;
        height: auto;
        left: 41.39%;
        top: 8.8vh;
    }

    .section-footer__about-us {
        position: absolute;
        width: 5.34%;
        height: auto;
        left: 31.5%;
        top: 13.29vh;
    }

    .section-footer__contact {
        position: absolute;
        width: 3.12%;
        height: auto;
        left: 41.29%;
        top: 13.29vh;
    }

    .section-footer__social-media {
        position: absolute;
        width: 7.5%;
        height: auto;
        right: 8.33%;
        top: 4.9vh;
        display: flex;
        justify-content: space-between;
        a,i, .fa-brands {
            font-size: 1.25rem;
        }
    }

    .section-footer__more-info {
        position: absolute;
        width: 15.97%;
        height: 3.5vh;
        right: 8.33%;
        top: 8.8vh;
        display: flex;
        flex-direction: row-reverse;
        gap: 1.7vh;
        a {
            color: #161616;
            font-family: 'SVN-RM Neue';
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.875rem;
        }
    }

    .section-footer__copy-right {
        position: absolute;
        width: 18.88%;
        height: 3.5vh;
        right: 8.33%;
        top: 13.88vh;
        display: flex;
        justify-content: end;
        b {
            font-family: 'SVN-RM Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.25rem;
            color: #161616;
        }
    }
}