.section-gallery {
    height: 106.82vh;
    width: 100%;
    position: relative;
    .section-gallery__header {
        position: absolute;
        width: 64.86vw;
        height: 14.11vh;
        left: 8.3vw;
        top: 11.76vh;
        h1 {
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 400;
            font-size: 7.5rem;
            line-height: 7.5rem;
            display: flex;
            align-items: center;
            color: #161616;
        }
    }

    .section-gallery__logo {
        width: 12.43vw;
        height: auto;
        position: absolute;
        top: 46.82vh;
        left: 8.3vw;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-gallery__card {
        position: absolute;
        top: 35.29vh;
        left: 29.58vw;
        width: 80vw; //set as viewport but will change img width
  
            .slick-arrow {
                position: absolute;
                background-color: rgba(0, 0, 0, 0);
                height: 15.2%;
                width: 5.33%;
                border: 1px solid #161616;
                border-radius: 50%;
                z-index: 2;
                top: -35%;
                font-size: 1.25rem;
                &:hover{
                    background-color: black;
                    transition: background-color 0.5s ease;
                    cursor: pointer;
                    i {
                        color: #F1F1F1;
                    }
                }
            }

            .section-gallery__card__button-left {
                position: absolute;
                left: 60%;
            }

            .section-gallery__card__button-right {
                position: absolute;
                left: 67.5%;
            }

        .section-gallery__card__child {
            position: relative;
            height: 50.11vh;
            display: flex;
            flex-direction: column;
            padding-right: 3%;
            div {
                overflow: hidden;
                width: 100%;
                height: 89%;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            &:hover {
                img {
                    transition: transform 0.5s;
                    transform: scale(1.05);
                    filter: brightness(0.7);
                }
                button {
                    cursor: pointer;
                    visibility: visible
                }
           }
           .section-gallery__card__child__button {   
                width: 10%;
                height: 14.085%; 
                visibility: hidden;
                position: absolute;
                z-index: 2;
                top: 42%;
                left: 43%;
                border: 1px solid #ffffff;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0);
                color: #ffffff;
            }
            p {
                box-sizing: border-box;
                z-index: 3;
                width: 100%;
                height: 3.5vh;
                font-family: 'SVN-RM Neue';
                font-weight: 300;
                font-size: 1.125rem;
                line-height: 1.875vh;
                color: #161616;
                position: absolute;
                bottom: 0;
            }
        }
    }
}