.section-info-submit {
    position: relative;
    width: 100%;
    height: 86.82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('/img/info-submit__background.png');
    background-size: 101.93vw 172.58vh;
    background-repeat: no-repeat;
    background-position-x: 12.45vw;
    background-position-y: -10.7vh;

    .section-info-submit__content {
        width: 83.19%;
        height: 63.29vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // background-color: rgba(255, 109, 47, 0.274);
    .section-info-submit__header {
        height: 25.41vh;
        width: 37.5vw;
        h1 {
            font-family: 'Cormorant Garamond';
            font-weight: 300;
            font-size: 3rem;
            line-height: 3.375rem;
            color: #161616;
            span {
                font-style: italic;
                text-decoration-line: underline;
            }
        }
    }

    .section-info-submit__form {
        width: 33.75%;
        height: 63.29vh;
        position: absolute;
        left: 57.91%;
        top: 11.76vh;
        background-color: rgba(255, 244, 238, 1);

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            gap: 2.8vh;
            margin-left: 10.69%;
            margin-right: 10.69%;
            margin-top: 5.6vh;
            margin-bottom: 5.6vh;
            div {
                display: flex;
                flex-direction: column;
                input, select {
                    background-color: rgba(0, 0, 0, 0);
                    border: 0;
                    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
                    // font-size: 1.5rem;
                }
            }

        .section-info-submit__form__label-subscribe{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 1.4vh;
            input {
                width: 2.3vh;
                height: 2.3vh;
            }
            label {
                font-family: 'SVN-RM Neue';
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1rem;
                color: #161616;
                box-sizing: border-box;
                margin-top: auto;
                margin-bottom: auto;
            }
        }       
        button {
            width: 50.89%;
            height: 5.88vh;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid #161616;
            border-radius: 56px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 8.92%;
            &:hover {
                background-color: black;
                color: #ffffff;
            }
        }
        }
    }
    }
}