.section-living-hub-top{
    position: relative;
    width: 100%;
    height: 192.94vh;
    left: 0px;
    background: #FFF4EE;
    box-sizing: border-box;
    overflow: hidden;

    .section-living-hub-top__slide{
        display: flex;
        flex-direction: row;
        position: absolute;
        // justify-content: space-between;
        gap: 8%;
        width: 121.73vw;
        height: 28.23vh;
        left: 12.66vw;
        top: 0px;

        .section-living-hub-top__slide__child {
            position: static;
            height: 100%;
            left: 0px;
            top: 0px;
            white-space: nowrap;
            h1 {
                height: 100%;
                font-family: 'Cormorant Garamond';
                font-weight: 300 !important;
                font-size: 7.5rem;
                line-height: 15rem;
                display: flex;
                align-items: center;
                color: #323232;   
                span {
                    font-style: italic; 
                }
                          
            }
        }
        
        // &:hover .section-living-hub-top__slide__child {
        //     animation: Right_to_left 1s ease-in forwards;
        //     cursor: default;
        // }
    }
    
    .section-living-hub-top__logo-left {
        position: absolute;
        width: 35.92vw;
        height: auto;
        left: -7vw;
        top: 18%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    
    .section-living-hub-top__content-right {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 47.91vw;
        height: 43.05vh;
        left: 43.75vw;
        top: 49.52vh;
        flex-wrap: wrap;
        box-sizing: border-box;
        .section-living-hub-top__content-right__up {  
            position: absolute;
            width: 86%;
            height: 50%;
            left: 0px;
            top: 0px;
            
            h1 {
                font-family: 'Cormorant Garamond';
                font-weight: 300 !important;
                font-size: 7.5rem;
                line-height: 7.5rem;
                display: flex;
                align-items: center;
                color: #E65528;
            }
        }

        .section-living-hub-top__content-right__down {
            width: 100%;
            left: 0px;
            bottom: 0px;
            position: absolute;
            h2 {
                font-family: 'SVN-RM Neue';
                font-weight: 300;
                font-size: 2rem;
                line-height: 2.5rem;
                color: #161616;
            }
        }
    }

    .section-living-hub-top__pic-bottom-left{
        position: absolute;
        width: 49vw;
        height: auto;       
        left: 0px;
        bottom: 6%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-living-hub-top__content-bottom-right {
        width: 26.66vw;
        height: 24.05vh;
        display: flex;
        flex-direction: column;
        position: absolute;    
        left: 57.91vw;
        bottom: 34.23vh;
        z-index: 2;
        // background-color: rgba(172, 179, 187, 0.2);
        b {
            width: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            font-family: 'SVN-RM Neue';
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.875rem;
            color: #161616;
            // margin-bottom: 3.33vh;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 48px;
            position: absolute;
            width: 11.18vw;
            height: 5.76vh;
            left: 0px;
            bottom: 0px;
            border: 1px solid #161616;
            border-radius: 56px;
            background-color: rgba(0, 0, 0, 0);
            &:hover {
                color: #FFFFFF;
                cursor: pointer;
                background-color: black;
                transition: background-color 0.5s ease;
            }
        }
    }

    .section-living-hub-top__pic-bottom-right {
        position: absolute;
        width: 26.18vw;
        height: auto;
        right: 2.56vw;
        bottom: -9%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}