.section-living-hub-bottom {
    width: 100%;
    height: 182vh;
    left: 0px;
    position: relative;
    background: #F1F1F1;    

    .section-living-hub-bottom__logo {
        position: absolute;
        width: 36.05vw;
        height: auto;
        object-fit: cover;
        left: -7.98vw;
        top: 18.82vh;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-living-hub-bottom__header{
        width: 47.91vw;
        height: 45.76vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: 8.32vw;
        top: 18.82vh;
        box-sizing: border-box;

        h1 {
            position: absolute;
            width: 100%;
            font-family: 'Cormorant Garamond';
            font-weight: 300;
            font-size: 8.75rem;
            line-height: 7.5rem;
            color: #2D3389;
            // margin-bottom: 9.4vh;
        }

        h2 {
            width: 47.91vw;
            height: 14.11vh;
            position: absolute;
            bottom: 0px;
            font-family: 'SVN-RM Neue';
            font-weight: 300;
            font-size: 2rem;
            line-height: 2.5rem;
            color: #161616;
        }
    }

    .section-living-hub-bottom__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;        
        position: absolute;
        width: 33.75vw;
        height: 25.17vh;
        left: 8.33vw;
        top: 99.76vh;

        b {
            position: static;
            width: 100%;
            left: 0px;
            top: 0px;
            font-family: 'SVN-RM Neue';
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 1.85rem;
            display: flex;
            align-items: center;
            color: #161616;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 48px;
            position: absolute;
            width: 11.18vw;
            height: 5.76vh;
            left: 0px;
            bottom: 0;
            border: 1px solid #161616;
            border-radius: 56px;
            background-color: rgba(0, 0, 0, 0);
            &:hover {
                color: #FFFFFF;
                cursor: pointer;
                background-color: black;
                transition: background-color 0.5s ease;
            }
        }
    }

    .section-living-hub-bottom__pic-bottom-right {
        // background-color: rgba(85, 88, 92, 0.1);
        position: absolute;
        width: 49.09vw;
        height: auto;
        right: 0px;
        bottom: 24.35vh;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-living-hub-bottom__pic-bottom-left__girl {
        position: absolute;
        width: 20.48vw;
        height: auto;
        object-fit: cover;
        left: 19.58vw;
        bottom: -11.05vh;
        z-index: 2;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-living-hub-bottom__pic-bottom-left__rectancle {
        position: absolute;
        width: 54.02vw;
        height: auto;
        left: -11.94vw;
        bottom: 6.23vh;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}