@mixin button_info {
    border: 1px solid #161616;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    
    &:hover {
        background-color: black;
        i {
            color: #F1F1F1;
        }
    }
}
@mixin hover_button {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 50%;
    z-index: 2;
    visibility: hidden;
}