// Navbar
.navbar {
    height: 6vh; 
    // width: 100vw;
    width: 100%; 
    background-color: rgba(172, 179, 187, 0.7); 
    position: fixed;
    flex-direction: row;
    z-index: 3;

    .navbar__logo {
        display: block;
        position: absolute;
        left: 8.33%;
        top: 21.66%;
        width: 6%;
        height: auto;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .navbar__menu {
        display: block;
        width: 25.76%;
        height: 50%;
        position: absolute;
        top: 25%;
        right: 8.33%;
        
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: space-between;
            li{
                a {
                    font-style: normal;
                    font-size: 1rem;
                    line-height: 2rem;
                    font-weight: 400;
                    color: #161616;
                    text-decoration: none;
                    padding-bottom: 10%;
                    word-spacing: -2px;
                    &:hover {
                        cursor: pointer;
                    }
                    &:active{
                        border-bottom: 2px solid black ;
                    }
                }
            }

        }
    }

    .navbar__call {
        display: block;
        width: auto;
        height: 100%; 
        position: absolute; 
        top: 0; 
        right: 0; 
        background-color: rgba(255, 108, 47, 1);
        &:hover {
            cursor: pointer;
            background-color: black;
            transition: background-color 0.5s ease;
        }
        img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }

}
// Navbar