.section-home-pic-bottom {
    position: relative;
    width: 100%;
    img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }
    .section-home-pic-bottom__content {
        width: 56.52vw;
        height: 27.05vh;
        position: absolute;
        left: 8.3vw;
        top: 27.64vh;
        h1 {
            font-family: 'Cormorant Garamond';
            font-style: normal;
            font-weight: 300;
            font-size: 6.25rem;
            line-height: 6.875rem;
            color: #FFFFFF;
        }
    }
}