.section-product {
    height: 103.76vh;
    width: 100%;
    background-color: rgba(85, 88, 92, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .section-product__content {
        width: 83.33%;
        height: 80.23vh;
        display: flex;
        flex-direction: column;
        gap: 9.4vh;
        z-index: 2;

        .section-product__content__header {
            height: 12.7vh;
            width: 100%;
            display: flex;
            flex-direction: row;
            h1 {
                font-family: 'Cormorant Garamond';
                font-style: normal;
                font-weight: 300;
                font-size: 3rem;
                line-height: 3.375rem;
                color: #161616;
                span {
                    font-style: italic;
                }
            }
        }
        .section-product__content__card {
             height: 500px;
             z-index: 1;
            gap: 4%;
            .slick-list{
                height: 100%;
            }
            .slick-track{
                height:100%;
            }
            .slick-arrow {
                position: absolute;
                background-color: rgba(0, 0, 0, 0);
                height: 12.95%;
                width: 5.33%;
                border: 1px solid #161616;
                border-radius: 50%;
                z-index: 2;
                top: -30.19%;
                font-size: 20px;
                &:hover{
                    background-color: black;
                    transition: background-color 0.5s ease;
                    cursor: pointer;
                    i {
                        color: #F1F1F1;
                    }
                }
            }

            .section-product__content__header__button__pull-left {
                right: 10%;
            }

            .section-product__content__header__button__pull-right{
                right: 3%;
            }

            .section-product__content__card__child {
                width: 30.66%;
                height: 100%;
                display: flex;
                flex-direction: column;
                
                .section-product__content__card__child__pic {
                    width: 88.5%;
                    height: 80.97%;
                    position: relative;

                    .section-product__content__card__child__pic__img {
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        
                    }           
                    img {
                        height: 100%;
                        width: auto;
                        object-fit: cover;
                        &:hover {
                            transition: transform 0.5s;
                            transform: scale(1.05);
                            filter: brightness(0.7);
                        }
                    }

                    &:hover {
                        button {
                            visibility: visible;
                            cursor: pointer;
                        }
                      }

                    button {
                        height: 16%;
                        width: 17.39%;
                        font-size: 1.25rem;
                        position: absolute;
                        top: 42%;
                        left: 38%;
                        @include hover_button;
                        z-index: 2;
                        visibility: hidden;
                    }

                    .section-product__content__card__child__pic__img {
                        width: 100%;
                        z-index: 1;
                        position: absolute;
                    }
                    .section-product__content__card__child__pic__logo {
                        width: 16.57%;
                        height: 24.75%;
                        z-index: 2;
                        position: absolute;
                        left: 5%;
                    }
                    .section-product__content__card__child__pic__status {
                        width: 29.34%;
                        height: 9.8%;
                        z-index: 2;
                        position: absolute;
                        right: 5%;
                        top: 5.43%;
                    }
                }

                .section-product__content__card__child__content {
                    z-index: 2;
                    position: absolute;
                    bottom: 0;
                    h2 {
                        font-family: 'SVN-RM Neue';
                        font-weight: 400;
                        font-size: 1.75rem;
                        line-height: 2.5rem;
                        display: flex;
                        align-items: center;
                        color: #161616;
                    }

                    p {
                        font-family: 'SVN-RM Neue';
                        font-weight: 400;
                        font-size: 1.125rem;
                        line-height: 1.875rem;
                        color: #161616;
                    }
                }
          
            }
        }
    }
}