* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex; 
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }