// -----Mobile
    // Iphone
    /* ----------- iPhone 4 and 4S ----------- */

    /* Portrait */
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {

        .navbar {
            height: 13vh;
            .navbar__logo {
                width: 20%;
                left: 2%;
                top: 25%;
            }
            .navbar__menu {
                width: 55%;
                height: 50%;
                position: absolute;
                top: 7%;
                right: 21%;
                ul {
                    gap: 4px;
                    text-align: center;
                    align-items: center;
                    li {
                        a {
                            font-weight: 600;
                            line-height: 0.9rem; 
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        .section-welcome {
            height: 150vh;
            .section-welcome__header{
                top: 10vh;
                width: 83vw;
                height: 20vh;
                h1 {
                    // Fix later
                    font-size: 1rem;
                    line-height: 1rem;
                }
            }

            .section-welcome__girl {
                left: 53%;
                top: 30vh;
            }

            .section-welcome__flower {
                left: 5.83vw;
                top: 33vh;
            }

            .section-welcome__content {
                height: 21%;
                width: 50%;
                left: 25%;
                top: 31%;
                h1 {
                    // Fix later
                    font-size: 1rem;
                    line-height: 1rem;
                }
                p {
                    width: 85%;
                     // Fix later
                     font-size: 0.7rem;
                     line-height: 0.7rem;
                }
            }

            .section-welcome__man{ 
                left: 17%;
                bottom: 24%;
            }

            .section-welcome__firework {
                right: 6%;
                bottom: 33%;
                top: auto;
            }
            
            .section-welcome__walking-girl {
                top: auto;
                right: 10%;
                bottom: 7%;
            }

            .section-welcome__slogan {
                width: 29%;
                right: 16.9%;
                bottom: 30%;
                h1 {
                    // Fix later
                    font-size: 1rem;
                    line-height: 1rem;
                }
            }

            .section-welcome__footer-content {
                width: 40%;
                height: 10%;
                left: 8%;
                bottom: 10%;
                display: inline-block;
                h2 {
                    // Fix later
                    font-size: 0.8rem;
                    line-height: 0.8rem;
                }
            }
        }

        .section-living-hub-top {
            height: 115vh;
            .section-living-hub-top__slide{
                height: 9%;
                width: 122vh;
                white-space: nowrap;
                .section-living-hub-top__slide__child {
                    height: 100%;
                    h1 {
                        font-size: 2rem;
                        line-height: 3rem;
                    }
                }             
            }

            .section-living-hub-top__logo-left {
                top: 18%;
            }

            .section-living-hub-top__content-right {
                width: 58%;
                height: 24%;
                left: 40%;
                top: 17%;
                .section-living-hub-top__content-right__up {
                    h1 {
                        font-size: 2rem;
                        line-height: 2rem;
                    }
                }
                .section-living-hub-top__content-right__down {
                    h2 {
                        font-size: 0.9rem;
                        line-height: 1rem;
                    }
                }
            }

            .section-living-hub-top__content-bottom-right {
                width: 80%;
                left: 10%;
                bottom: 25%;
                height: 25%;
                b {
                    font-size: 0.9rem;
                    line-height: 1rem;
                }
                button {
                    left: auto;
                    right: 0;
                    white-space: nowrap;
                    font-size: 0.7rem;
                }
            }
            .section-living-hub-top__pic-bottom-right {
                bottom: -6%;
            }
        }

        .section-living-hub-bottom {
            height: 115vh;
            .section-living-hub-bottom__logo {
                top: 10.3%;
            }

            .section-living-hub-bottom__header {
                width: 58%;
                height: 24%;
                top: 9%;
                right: 3%;
                h1 {
                    font-size: 2rem;
                    line-height: 2rem;
                }

                h2 {
                    font-size: 0.7rem;
                    line-height: 0.9rem;
                }
            }
            
            .section-living-hub-bottom__content {
                width: 45%;
                height: 33%;
                left: 3%;
                top: 40%;
                b {
                    font-size: 0.7rem;
                    line-height: 0.9rem;
                }
                button {
                    bottom: 0px;
                    font-size: 0.8rem;
                    white-space: nowrap;
                }
            }

            .section-living-hub-bottom__pic-bottom-right {
                width: 49.09vw;
                bottom: 38%;
            }
        
            .section-living-hub-bottom__pic-bottom-left__girl {
                width: 30%;
                left: auto;
                right: 37%;
                bottom: -10%;
            }   

            .section-living-hub-bottom__pic-bottom-left__rectancle {
                width: 80%;
                left: -10%;
                bottom: -2%;
            }
        }

        .section-slide-services {
            .section-slide-services__top {
                height: 40%;
                .section-slide-services__top__header {
                    width: 100%;
                    left: 5%;
                    h1 {
                        font-size: 1.3rem;
                        line-height: 1rem;
                        font-weight: 500;
                    }
                }
                .section-slide-services__top__content { 
                    top: 17%;
                    width: 45%;
                    height: 35%;
                    left: 5%;
                    h2 {
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                    b {
                        font-size: 0.5rem;
                        line-height: 0.9rem;
                    }
                }

                .section-slide-services__top__pic {
                    top: 14%;
                    right: 5%;
                }

                .section-slide-services__top__button {
                    display: flex;
                    flex-direction: row;
                    gap: 20%;
                    position: absolute;
                    width: 50%;
                    height: 20%;
                    left: 40%;
                    top: 70%;
                    align-items: center;
                    button {
                        width: 20vw;
                        height: 20vw;
                    }
                }
                
            }

            .section-slide-services__firework {
                width: 20%;
                left: 8%;
                top: 33%;
            }

            .section-slide-services__bottom {
                height: 50%;
                .section-slide-services__bottom__pic {
                    bottom: 30%;
                    left: 5%;
                }

                .section-slide-services__bottom__header {
                    width: 100%;
                    height: 7%;
                    left: 5%;
                    top: 10%;
                    h1 {
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                    }
                }

                .section-slide-services__bottom__content-h2 {
                    width: 40%;
                    height: 7%;
                    h2 {
                        font-size: 1.4rem;
                    }
                }

                .section-slide-services__bottom__content-b {
                    width: 55%;
                    height: 55%;
                    left: 40%;
                    text-align: right;
                    b {
                        font-size: 0.6rem;
                        line-height: 0.8rem;
                    }
                }

                .section-slide-services__bottom__button {
                    gap: 2.8vh;
                    position: absolute;
                    width: 35%;
                    height: 12%;
                    right: 60%;
                    bottom: 5%;
                    button {
                        width: 40%;
                        height: 100%;
                    } 
                }
            }
        }

        .section-5-reasons {
            .section-5-reasons__header {
                left: 3%;
                top: 15%;
                height: 55%;
                h1 {
                    font-size: 2rem !important;
                    line-height: 2rem !important;
                }
                h2 {
                    font-size: 1rem !important;
                    line-height: 1rem !important;
                }
            }

            .section-5-reasons__content {
                width: 47%;
                height: 90%;
                gap: unset;
                top: 5%;
                bottom: auto;
                right: 0%;
                .section-5-reasons__content__top {
                    width: 100%;
                    text-align: center;
                    h1 {
                        font-size: 1rem !important;
                        line-height: 1.1rem !important;
                    }
                }

                .section-5-reasons__content__bottom {
                    b {
                        text-align: right;
                        font-size: 0.5rem !important;
                        line-height: 0.1rem !important;
                    }
                }
                .section-5-reasons__content__footer{
                    .section-5-reasons__content__footer__button {
                        width: 17vh;
                        height: auto;
                        right: 110%;
                        bottom: 3%;
                        justify-content: space-between;
                    }
                }
            }
            .section-5-reasons__pic {
                width: 50%;
                top: 57%;
                left: -25%;
            }
        }        

        .section-product {
            height: auto;
            h1, h2 {
                font-size: 1rem !important;
                line-height: 1rem !important;
            }

            b, p {
                font-size: 0.5rem !important;
                line-height: 0.5rem !important;
            }
                
            .section-product__content { // Thừa phần này
                width: 85%;
                height: auto;
                margin-bottom: 10%;
                .section-product__content__header {
                    height: 10%;
                    margin-top: 10%;
                }
                .section-product__content__card {
                    height: 50vh;
                    grid-area: 5%;
                    .slick-list{
                        height: 100% !important;
                        width: 99%;
                    }
                    .slick-track {
                        height: 100% !important;
                        width: auto;
                    }
                    .slick-arrow { 
                        height: 45px;
                        width: 45px;
                        top: -23.19%;
                    }
                    .section-product__content__header__button__pull-left {
                        right: 40%;
                    }
                    .section-product__content__header__button__pull-right{
                        right: 15%;
                    }

                    .section-product__content__card__child {
                        .section-product__content__card__child__pic {
                            width: 80%;

                        .section-product__content__card__child__pic__status {
                            right: 15%;
                        } 
                            
                        }
                        .section-product__content__card__child__content {
                            h2, p{
                                text-align: center !important;
                            }
                        }
                    }
                }
            }
        }

        .section-home-pic-bottom { 
            .section-home-pic-bottom__content {
                width: auto;
                height: 100%;
                left: 10%;
                top: 0%;
                display: flex;
                align-items: center;
                h1 { 
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                }
            }
        }

        .section-gallery {
            height: 65vh;
            margin-bottom: 20%;
            p {
                font-size: 1rem !important;
                line-height: 1rem !important;
            }
            .section-gallery__header {
                width: 60%;
                height: 10%;
                left: 30%;
                top: 15%;
                h1 {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    white-space: nowrap;
                }
            }
            .section-gallery__logo {
                width: 20%;
                height: auto;
                top: 8.5%;
                left: 5%;
            }
            .section-gallery__card {
                top: auto;
                bottom: 0px;
                left: 5%;
                width: 90%;
                height: 50%;
                .slick-list {
                    width: 100%;
                    .slick-track {
                        width: 1000px;
                        .slick-slide {
                            height: 200px;
                        }
                    }
                }
                .slick-arrow {
                    height: 45px;
                    width: 45px;
                    top: -45%;
                }

                .section-gallery__card__button-left {
                    left: 50%;
                }

                .section-gallery__card__button-right {
                    left: 80%;
                }

            }
        }

        .section-info-submit {
            width: 100%;
            height: 86.82vh;
            background-size: 101.93vw auto;
            object-fit: cover;
            background-position-x: 30%;
            background-position-y: 70%;
            .section-info-submit__content {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0%;
                display: flex;
                align-items: center;
                .section-info-submit__header {
                    height: auto;
                    width: 90%;
                    position: absolute;
                    top: 0%;
                    h1 {
                        text-align: center;
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                }

                .section-info-submit__form {
                    width: 90%;
                    height: 85%;
                    left: 0%;
                    top: auto;
                    bottom: 0%;
                }
            }
        }

        .section-footer {
            width: 100%;
            height: 30vh;
            .section-footer__logo {
                left: 3%;
                bottom: auto;
                width: 23%;
                bottom: 62%;
            }
            .section-footer__slogan {
                width: 23%;
                left: 3%;
                top: auto;
                bottom: 36%;
                h3 {
                    font-size: 0.7rem;
                    line-height: 0.7rem;
                    text-align: center;
                }
            }

            .section-footer__home {
                width: 30%;
                left: 29%;
                top: 5%;
            }
            .section-footer__brand {
                width: 30%;
                left: 29%;
                top: 23%;
            }       
            .section-footer__about-us {
                width: 30%;
                left: 29%;
                top: 41%;
            }        
            .section-footer__contact {
                width: 30%;
                left: 29%;
                top: 59%;
            }

            .section-footer__social-media {
                width: 33%;
                right: 5%;
                top: 5%;
                a,i, .fa-brands {
                    font-size: 1.7rem;
                }
            }
            .section-footer__more-info {
                width: 25%;
                height: auto;
                right: 10%;
                top: 34%;
                flex-direction: column !important;
                a {
                    font-size: 0.8rem;
                    line-height: 0.7rem;
                }
            }
            .section-footer__copy-right {
                width: 60%;
                height: auto;
                right: 14%;
                top: auto;
                bottom: 5%;
                b {
                    font-size: 0.64rem;
                    line-height: 0.5rem;
                }
            }
        }
  }
  
  /* Landscape */
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
  
  }
  
  /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
  
  /* Portrait and Landscape */
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
  
  }
  
  /* Portrait */
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
  }
  
  /* Landscape */
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
  
  }
  
  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  
  /* Portrait and Landscape */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
  
  }
  
  /* Portrait */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) { 
  
  }
  
  /* Landscape */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) { 
  
  }
  
  /* ----------- iPhone 6+, 7+ and 8+ ----------- */
  
  /* Portrait and Landscape */
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
  
  }
  
  /* Portrait */
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
  
  }
  
  /* Landscape */
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
  
  }
  
  /* ----------- iPhone X ----------- */
  
  /* Portrait and Landscape */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
  }
  
  /* Portrait */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
  
  }
  
  /* Landscape */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
  
  }

  // Iphone

  // Galaxy Phone

    /* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) 
and (orientation: landscape) {

}

    // Galaxy Phone

    // HTC Phone

        /* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {

}

// HTC Phone
    
// Window Phone

/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {

}

// Window Phone

//  -----Tablet

    // Ipad

    /* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 834px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}

    // Ipad

    // Galaxy Table

        /* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
(min-device-width: 800px) 
and (max-device-width: 1280px) {

}

/* Portrait */
@media 
(max-device-width: 800px) 
and (orientation: portrait) { 

}

/* Landscape */
@media 
(max-device-width: 1280px) 
and (orientation: landscape) { 

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
(min-device-width: 800px) 
and (max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media 
(max-device-width: 800px) 
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media 
(max-device-width: 1280px) 
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) { 

}

    // Galaxy Table

// -----Laptop