.section-slide-services {
    position: relative;
    width: 100%;
    height: 160vh;
    left: 0px;
    // This section cant get exactly values so have to do this 
    // margin-top: 32.7vh;
    // margin-bottom: 23.52vh;
    margin-top: 25%;
    margin-bottom: 20%;
    // the one up
    display: flex;
    flex-direction: column;
    // background-color: rgba(85, 88, 92, 0.1);

    .section-slide-services__top {
        position: absolute;
        width: 100%;
        height: 76.7%;
        left: 0px;
        top: 0px;
        // background-color: rgba(129, 92, 103, 0.1);

        .section-slide-services__top__header {
            position: absolute;
            width: 40%;
            height: 12%;
            left: 8.33vw;
            top: 0px;

            h1 {
                font-family: 'Cormorant Garamond';
                font-weight: 300;
                font-size: 4.5rem;
                line-height: 4.5rem;
                color: #161616;
                span {
                    font-style: italic;
                }
            }
        }

        .section-slide-services__top__content {
            width: 26.66%;
            height: 15%;
            display: flex;
            flex-direction: column;
            position: absolute;   
            left: 15.41%;
            top: 26.35%;
            h2 {
                position: absolute;
                top: 0%;
                width: 100%;
                height: 10%;
                font-family: 'SVN-RM Neue';
                font-weight: 300 !important;
                font-size: 2rem;
                line-height: 2.5rem;
                display: flex;
                align-items: center;
                color: #161616;
            }
            b {
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 90%;
                font-family: 'SVN-RM Neue';
                font-weight: 300;
                font-size: 1.125rem;
                line-height: 1.875rem;
                display: flex;
                align-items: center;
                color: #161616;
            }
        }
        
        .section-slide-services__top__pic {
            position: absolute;
            width: 40.83vw;
            height: auto;
            right: 8.33vw;
            top: 0px;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .section-slide-services__top__button {
            display: flex;
            flex-direction: row;
            gap: 2.8%;
            position: absolute;
            width: 10.5%;
            height: 7.52%;
            left: 81.11%;
            top: 69.17%;
            align-items: center;
            button {
                width: 7.52vh;
                height: 7.52vh;
                border: 1px solid #161616;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0);
                &:hover {
                    background-color: black;
                    i {
                        color: #F1F1F1;
                    }
                }
            }
        }
    }

    .section-slide-services__firework {
        position: absolute;
        width: 9.72vw;
        height: auto;
        left: 8.33vw;
        top: 70.58vh;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-slide-services__bottom {
        position: absolute;
        width: 100%;
        height: 65.41vh;
        left: 0px;
        bottom: 0px;
        // background-color: rgba(156, 50, 82, 0.1);
        .section-slide-services__bottom__pic {
            position: absolute;
            width: 30.57vw;
            height: auto;
            left: 10%;
            bottom: 0px;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .section-slide-services__bottom__header {
            position: absolute;
            width: 40.83vw;
            height: 16.94vh;
            left: 50.83vw;
            top: 0px;
            h1 {
                font-family: 'Cormorant Garamond';
                font-weight: 300 !important;
                font-size: 4.5rem;
                line-height: 4.5rem;
                color: #161616;
                span {
                    font-style: italic;
                }
            }
        }

        .section-slide-services__bottom__content-h2 {
            position: absolute;
            width: 12.15vw;
            height: 4.7vh;
            left: 50.83vw;
            top: 26.35vh;
            h2 {
                font-family: 'SVN-RM Neue';
                font-style: normal;
                font-weight: 300;
                font-size: 2rem;
                line-height: 2.5rem;
                display: flex;
                align-items: center;
                color: #161616;
            }
        }

        .section-slide-services__bottom__content-b {
            position: absolute;
            width: 33.75vw;
            height: 21.17vh;
            left: 50.83vw;
            top: 33.88vh;

            b {
                font-family: 'SVN-RM Neue';
                font-weight: 300;
                font-size: 1.125rem;
                line-height: 1.875rem;
                color: #161616;
            }
        }

        .section-slide-services__bottom__button {
            display: flex;
            flex-direction: row;
            gap: 2.8vh;
            position: absolute;
            width: 10.41vw;
            height: 7.52vh;
            right: 8.3vw;
            bottom: 0px;

            button {
                width: 7.5vh;
                height: 7.5vh;
                border: 1px solid #161616;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0);
                &:hover {
                    background-color: black;
                    i {
                        color: #F1F1F1;
                    }
                }
            }
        }
    }

}