.section-welcome {
    width: 100%;
    height: 311.52vh;
    // margin-bottom: 23.52vh;
    // Border to check sections
    // border: 2px solid black;
    position: relative;
    display: flex;
    justify-content: center;

    .section-welcome__header{
        position: absolute;
        top: 20vh;
        width: 69.23vw;
        height: 30.11vh;
        display: inline-block;
        box-sizing: border-box;
        h1 {
            font-family: 'SVN-RM Neue';
            font-style: normal;
            font-weight: 300 !important;
            font-size: 3.3rem;
            line-height: 4rem;
            text-align: center;
            color: #161616;
            span{
                color: #EE542F;
            }
        }
    }

    .section-welcome__girl {
        width: 42.21vw;
        height: auto;
        position: absolute;
        top: 67.76vh;
        left: 43.5vw;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-welcome__flower {
        width: 17.08vw;
        height: auto;
        position: absolute;
        left: 5.83vw;
        top: 25%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-welcome__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 47.5vw;
        height: 41.41vh;
        left: 22.5vw;
        top: 107.2vh;
        
        h1 {
            position: absolute;
            width: 100%;
            left: 0px;
            top: 0px;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 4.5rem;
            line-height: 4.5rem;
            color: #161616;
            flex-wrap: wrap;
        }

        p {
            position: absolute;
            width: 71.05%;
            left: 0px;
            padding-bottom: 13%;
            bottom: 0;
            font-family: 'SVN-RM Neue';
            font-weight: 300;
            font-size: 1.3rem;
            line-height: 1.87rem;
            color: #161616;
            overflow-wrap: break-word;
            flex-wrap: wrap;
        }
    }

    .section-welcome__man {
        position: absolute;
        height: auto;
        width: 41.66vw;
        left: 11.5%;
        bottom: 70vh;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-welcome__firework {
        width: 9.72vw;
        height: auto;
        position: absolute;
        right: 7.5%;
        top: 59%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-welcome__walking-girl {
        position: absolute;
        width: 35.62vw;
        height: auto;
        right: 15.5%;
        top: 205.76vh;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .section-welcome__slogan {
        position: absolute;
        width: 26.52vw;
        height: 16.94vh;
        right: 24vw;
        bottom: 118.33vh;
        h1 {
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300 !important;
            font-size: 4.1rem;
            line-height: 4.5rem;
            color: #161616;
        }
    }

    .section-welcome__footer-content {
        position: absolute;
        width: 33.75VW;
        height: 28.23vh;
        left: 8.33vw;
        bottom: 40.76vh;
        h2 {
            font-family: 'SVN-RM Neue';
            font-weight: 300;
            font-size: 3.2rem;
            line-height: 3rem;
            color: #161616;
        }  
    }
}